* {
    padding: 0px;
    margin: 0px;
}

#login_menu {
    width: 623px;
    height: 30px;
    position: fixed;
    left: 30px;
    top: 30px;
    background-color: white;
    display:flex;justify-content:center;align-items:center;
    padding: 5px;
    border-radius: 10px;
}

#username_input {
    width: 450px;
    border-radius: 10px;
}

#passwd_input {
    margin-left: 10px;
    width: 450px;
    border-radius: 10px;
}

#login_button {
    margin-left: 10px;
    width: 250px;
}

#register_button {
    width: 250px;
}

#user_guide {
    top: 500px;
    left: 700px;
    position:absolute;
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 30px;
    border-radius: 10px;

}

#message_box {
    width: 80%;
    height: 8%;
    position: fixed;
    left: 50px;
    bottom: 30px;
}


#message_input {
    width: 80%;
    height: 100%;
    font-size: 20px;
    position: relative;
    top: 0px;
    left: 0px;
    border: 0px;
}

#send_button {
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
}

#jukebox_menu {
    width: 50%;
    height: 50%;
    position: fixed;
    left: 25%;
    top: 22%;
    background-color: white;
}

.music_button {
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
    margin-top: 3%;
    height: 10%;
}

#label_jukebox {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 1%;
}

#music_close_button {
    position: absolute;
    top: 3px;
    right: 3px;
}